/* CardConteiner.module.css */

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Estilos para los divs que contienen las cartas */
  .cardColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .cardContainer p {
    color: red;
    width: 80%; /* Ajusta el valor según tus preferencias */
    margin: 0 auto; /* Centrar el elemento en el ancho modificado */
}

  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    .cardColumn {
      margin: 10px;
    }
  }
  